body{
    padding: 0%;
    background-image: url('./asest/Fondo2.jpg');
    box-sizing: border-box;
}
h3{
    font-size: x-large;
    color: blueviolet;
}
p, h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#inicio{
    margin-bottom: 85px;
    min-height: 100%;
}
/* seccion header /inicio */
header{
    text-align: center;
    border: solid 2px #49117e;
    border-radius: 15px;
    margin: 50px 16px 60px 16px;
    padding: 36px 25px 145px 25px;
}
header .title{
    margin-bottom: 45px;
}
header h1{
    color:#49117e;
    font-size: xxx-large;
}
header h2{
    color:#49117e;
    font-size: xx-large;
    padding-bottom: 45px;
}
header img{
    border: solid 2px #49117e;
    border-radius: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav ul li button{
    margin-bottom: 10px;
    border: solid 3px #49117e;
    border-radius: 15px;
}

nav ul li a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;   
    margin: 25px;
}

nav ul li {
    list-style: none;
}
/* main / div / info inicial */
main .infoInicial{
    margin-bottom: 120px;
    min-height: 100%;
}

.datosInterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: top;
    margin-top: 115px;
    padding-top: 60px;
}
.datosInterContainer h3{
    text-align: center;
    font-size: xx-large;
}
.datosInterContainer li{
    color: #49117e;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.datosInterContainer #datosPersonales ul{
    margin-top: 90px;
}
.datosInterContainer #intereses ul{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 70px;
}

.datosInterContainer #intereses ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.datosInterContainer #intereses ul img{
    width: 89px;
    height: 55px;
    margin-right: 38px;
    margin-bottom: 5px;
    border-radius: 50%;
}

/* button volver y volver a infoGeneral */
body .volver{
    display: flex;
    justify-content: center;
}
body .volver button{
    margin-bottom: 10px;
    border: solid 3px #49117e;
    border-radius: 15px;
}
body .volver button a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;   
    margin: 25px;
}
#antecedentesAcademicos .volver,
#capacitacionRecibida .volver,
#experienciaLaboral .volver,
#antecPersonales .volver{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

/* main / sección INFO General */
#infoGeneral ul li{
    list-style: none;
    color: #49117e;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

#infoGeneral h3{
    text-align: center;
    font-size: xx-large;
}
#infoGeneral .infoGen-container{
    display: flex;
    justify-content: space-around;
}


#infoGeneral h4{
    font-size: large;
    
}

#infoGeneral .p0 {
    font-weight: bold;
    color:#49117e;
    margin-left: 15px;
}
#infoGeneral .p1 {
    text-indent: 4em;
    margin-left: 15px;
}
#infoGeneral img {
    width: 25%;
    height: auto;
}
#infoGeneral .p2 {
    margin-left: 55px;
}

/* main / sección INFO General/ Article: Experiencia laboral */
#experienciaLaboral{
    min-height: 100%;
    padding-top: 3%;
}
#experienciaLaboral .experLab-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

#experienciaLaboral .experLab-container img{
    width: 110%;
    height: auto;
}
/* main / sección INFO General/ article: Capacitación recibida */
#capacitacionRecibida{
    margin-top: 30px;
}
/* main / article: Contacto */
#contacto{
    padding-top: 5%;
    padding-bottom: 10%;
}

#contacto ul li{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#contacto .contacto-container{
    display: flex;
    justify-content: space-between;
    min-height: 100%;
}
#contacto img{
    width: 20%;
    height: auto;
}
/* main/ aside */
aside{
    border: solid 2px #49117e;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
}
aside ul li{
    list-style: none;
}
aside .title{
    text-align: center;
    font-size: x-large;

}
aside h3{
    text-align: center;
    font-size: xx-large;
}
aside .container-faceboock {
    width: 100%;
    display: flex;
    justify-content: center;
}
aside .container-faceboock img{
    border-radius: 100%;
    float: left;
    background: #fff;
    width: 30px;
    height: 30px;
}
aside .container-doc img{
    float: left;
    background: #fff;
    width: 30px;
    height: 30px;
}
footer{
    background-color: #49117e;
    text-align: center;   
}
footer h3{
    color: white; 
}
footer .footer-container{
     display: flex;
     justify-content: space-around;
}
footer ul li{
    list-style: none;
}

footer a{
    color: white;
    font-size: larger;

}
@media screen and (min-width:930px){
  
    header img{
        width: 150%;
        height: auto;
    }
    nav ul li button{
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    nav ul li a{
        font-size: x-large;   
        margin: 25px;
    }
}


@media screen and (max-width:580px){
  
    header img{
        width: 70%;
        height: auto;
    }
    nav{
        display: block;
        
    }
    nav ul li button{
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    nav ul li a{
        font-size: small;   
        margin: 10px;
    }
}